<div id="<%= dom_id account %>">
  <p>
    <strong>Code:</strong>
    <%= account.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= account.type_id %>
  </p>

</div>
